 <div class="partner">
   <div id="partnerblock">
            <h3>OpenNews is funded by</h3> <a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" height="50" width="300" /></a>
              </div>
            </div>
        </section>
        <section class="external">
            <div class="busta">
            <div class="col box">
                <h2>Connect with OpenNews</h2>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <ul>
                <li>Get the latest by <a href="https://opennews.org/feed.xml">subscribing to our news feed</a></li>
                <li>Connect on Twitter <a href="http://twitter.com/opennews" class="twitter-follow-button" data-show-count="false">@opennews</a></li>

               <li>Join our <a href="http://eepurl.com/czSVTL">mailing lists</a></li>
							<li><a href="https://opennews.networkforgood.com/projects/54161">Make a donation</a></li>
                <li><a href="mailto:info@opennews.org">Contact us</a></li>
                <li><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a></li>
                </ul>
            </div>
            <div class="col box">
                <h2>About OpenNews</h2>
 <p><a href="https://www.opennews.org">OpenNews</a> connects a network of developers, designers, journalists and editors to collaborate on open technologies and processes within journalism. OpenNews believes that a community of peers working, learning and solving problems together can create a stronger, more responsive, and ascendant journalism ecosystem. Incubated at <a href="https://www.mozilla.org/en-US/foundation/">Mozilla</a> from 2011-2016, OpenNews is now a project of <a href="http://www.communitypartners.org">Community Partners</a>.
 </div>
            </div>
