<section class="external">
    <div class="busta">
        <h2 class="logo-holder"><a href="/"><img class="logo" alt="OpenNews" src="/media/img/open-news-2017.png" /></a></h2>
        <div class="col col-left box">
            <p>OpenNews connects a network of developers, designers, journalists and editors to collaborate on open technologies and transform processes within journalism. OpenNews believes that a community of peers working, learning and solving problems together can create a stronger, more responsive, anti-racist, andequitable journalism ecosystem.</p>
            <p>Incubated at <a href="https://www.mozilla.org/en-US/foundation/">Mozilla</a> from 2011-2016, OpenNews is now a project of <a href="http://www.communitypartners.org">Community Partners</a>.</p>
            <p><strong>contact us:</strong> <a href="mailto:info@opennews.org">info@opennews.org</a></p>
            <p><strong>follow our tweets:</strong> <a href="https://twitter.com/opennews">@opennews</a></p>
            <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/88x31.png" /></a></p>
        </div>
        <div class="col col-right box">
            <h3>Become a founding sustainer.</h3>
            <p>You'll support our ability to do our work, and help us work toward our dream of becoming majority community-funded.</p>
            <p><a class="sidebar-button" href="https://opennews.networkforgood.com/">Donate</a></p>

            <h3>Get our community updates.</h3>
            <p>You'll get updates on the events, programs, and resources we've built for the community, and get special updates from the team.</p>
            <!-- Begin Mailchimp Signup Form -->
            <div id="mc_embed_signup">
            <form action="https://opennews.us5.list-manage.com/subscribe/post?u=71c95e9a43708843d2fdc1f09&amp;id=996e9290cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_71c95e9a43708843d2fdc1f09_996e9290cc" tabindex="-1" value=""></div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <div style="clear:both;"></div>
                </div>
            </form>
            </div>

            <!--End mc_embed_signup-->
        </div>
    </div>
</section>