<p class="homepage-quote-big">We make it easier for people to collaborate across organizations and build a more equitable future for jounalism. We create space for much-needed <a href="https://srccon.org/">conversations at SRCCONs</a>, help journalists <a href="https://source.opennews.org/">share their work and processes on Source</a>, and connect community members through a wide <a href="/what/community">range of support programs</a>. <a href="/getinvolved">Join us.</a></p>

<style type="text/css">
	p.homepage-quote-big {
    font-family: "freight-text-pro", Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    font-size: 1.8rem;
    font-style: italic;
	}
</style>