<div id="navlist">
<h3 class="nav"><a href="/what/conferences">Gatherings</a></h3>
<ul>
  <li id="srccon"><a href="https://srccon.org">SRCCON Events</a></li>
  <li id="convenings"><a href="/what/conferences/convenings">Convenings</a></li>
  <li id="mozfest"><a href="/what/conferences/mozfest">MozFest</a></li>
</ul>

<h3 class="nav"><a href="/what/community">Community Support</a></h3>
<ul>
  <li id="source"><a href="https://source.opennews.org/">Source</a>
  <li id="calls"><a href="/what/community/calls">Community Calls</a>
  <li id="survey"><a href="/what/community/survey">News Nerd Survey</a>
  <li id="scholarships"><a href="/what/community/scholarships">Scholarships</a>
  <li id="hubs"><a href="/what/community/hubs">Hubs</a>
  <li id="fellowships"><a href="/what/fellowships">Fellowships</a>
  <li id="datareview"><a href="/what/community/datareview">Peer Data Review</a>
  <li id="care"><a href="/#carepackage">COVID-19 Care Package</a>      
</ul>

</div>
