<div id="navlist">
    <h3 class="nav"><a href="/what/community">What we do</a></h3>
    <ul>
        <li id=""><a href="/what/conferences">SRCCON Events</a>
        <li id="source"><a href="https://source.opennews.org/">Source</a>
        <li id="calls"><a href="/what/community/calls">Community Calls</a>
        <li id="scholarships"><a href="/what/community/scholarships">Scholarships+</a>
        <li id="survey"><a href="/what/community/survey">News Nerd Survey</a>
        <li id="dei-coalition"><a href="/what/community/dei-coalition">DEI Coalition for Anti-Racist, Equitable, and Just Newsrooms</a>      
    </ul>
</div>
