    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://opennews.org{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.excerpt.empty? == false %}{{ page.excerpt | strip_html }}{% elsif page.description %}{{ page.description }}{% endif %}" />


    {% if page.image %}
    <meta property="og:image" content="https://opennews.org{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="https://opennews.org/media/img/opennews_logo_share.png" />
    {% endif %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" value="{{ page.title }}" />
    <meta name="twitter:description" value="{% if page.excerpt.empty? == false %}{{ page.excerpt | strip_html }}{% elsif page.description %}{{ page.description }}{% endif %}" />

    <!-- If there's a meta image specified: -->
    {% if page.image %}
    <meta name="twitter:image" content="https://opennews.org{{ page.image }}" />
    {% else %}
    <meta property="twitter:image" content="https://opennews.org/media/img/opennews_logo_share.png" />
    {% endif %}

    {% if page.image-alt %}
    <!-- Meta image alt text -->
    <meta name="twitter:image:alt" content="{{ page.image-alt }}">
    {% endif %}

    <meta name="twitter:url" value="https://opennews.org{{ page.url }}" />
    <meta name="twitter:site" value="@opennews" />