<!doctype html>
<html class="no-js" lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#fc6e1f" />
    <meta name="author" content="OpenNews" />
    <title>{{ page.title }} | OpenNews</title>
    <meta name="description" content="{{ page.description | markdownify | strip_html | strip_newlines }}" />
    <link rel="canonical" href="{{ page.root_url }}{{ page.url }}" />

    <!-- social sharing -->
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="OpenNews.org" />
    <meta property="og:locale" content="en-US" />
    <meta property="og:url" content="https://opennews.org{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.excerpt.empty? == false %}{{ page.excerpt | strip_html }}{% elsif page.description %}{{ page.description }}{% endif %}" />
    {% if page.image %}
    <meta property="og:image" content="https://opennews.org{{ page.image }}" />
    {% if page.image-alt %}
    <meta property="og:image:alt" content="{{ page.image-alt }}" />
    {% endif %} {% else %}
    <meta property="og:image" content="https://opennews.org/media/img/opennews_logo_share.png" />
    <meta property="og:image:alt" content="OpenNews Logo" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />
    {% endif %}
    <link rel="preload" href="/media/img/open-news-2017.png" as="image" fetchpriority="high" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml" />

    <!-- styles -->
    <link rel="dns-prefetch" href="https://use.typekit.net" />
    <link rel="preconnect" href="https://use.typekit.net" crossorigin />
    <link
      rel="preload"
      href="https://use.typekit.net/npu3izb.css"
      as="style"
      onload="
        this.onload = null;
        this.rel = 'stylesheet';
      "
    />
    <link rel="stylesheet" media="screen,projection,tv" href="/media/css/normalise.css" />
    <link href="https://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet preconnect" type="text/css" crossorigin />
    <link rel="stylesheet" media="screen,projection,tv" href="/media/css/devices.css" />
    <link rel="stylesheet" media="all and (min-width:30em)" href="/media/css/desktop.css" />

    {% if page.google_analytics_id and page.google_analytics_id != "" %}
    <!-- Google Analytics (code snippet circa 2026) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ page.google_analytics_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "{{ page.google_analytics_id }}");
    </script>
    {% endif %}
  </head>

  <body class="{{ page.section }} {{ page.sub-section }}">
    <div id="kissanenav">{% include new_navigation.html %}</div>

    <header>
      <h1>
        <a href="/"><img alt="OpenNews" src="/media/img/open-news-2017.png" /></a>
      </h1>
      {% if page.section == "homepage" %} {% include homepage_quote.html %} {% endif %}
    </header>

    <article>
      <div class="main_col">{{ content }}</div>
      <div class="sidebox">{% include sidebar_update.html %}</div>
    </article>

    <footer>{% include footer.html %}</footer>

    <!-- script calls -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="/media/js/app.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function () {
        jQuery("abbr.timeago").timeago();
      });
    </script>
  </body>
</html>
